.logofooter {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-top: 16px;
}

.footerbre {
    margin-top: 108px;
    margin-left: 146px;
}


.logososmed {
    margin-top: 16px;
    margin-left: -160px;
}

.alamat {
    margin-bottom: 16px;
}

.footernav {
    margin-left: 130px;
}

.connect {
    margin-left: -50px;
}