.bgbg {
    background-color: #F1F3FF;
    width: 1440px;
    height: 266px;
}

.svgnaek {
    margin-left: 220px;
    margin-top: 150px;
}

.balikpage {
    margin-top: 150px;
    margin-left: 200px;
}

.txttiket {
    margin-left: 30px;
    margin-top: -20px;
}