.kartufilter {
    width: 1047px;
    height: 106px;
    margin-left: 196px;
    box-shadow: 150px;
    margin-top: -55px;
}

.kartufilter2 {
    width: 1047px;
    height: 142px;
    margin-left: 196px;
    box-shadow: 150px;
    margin-top: -50px;
}

.tulisanfilter {
    font-family: Helvetica;
    font-size: 12px;
}

.btnmobil {
    margin-right: -60px;
    transform: translateX(-15px);
    margin-top: 7px;
}

.borderdrop {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #D0D0D0;
    width: 210px;
    height: 38px;
}

.pilsupir {
    width: 210px;
    height: 36px;
    margin-top: 9px;   
}

.txtsupir {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.dropmen {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C9E7CA;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btnedit {
    margin-right: -40px;
    margin-top: 7px;
}

.boxorang {
    width: 210px;
    height: 36px;
    margin-top: 2px;  
}

.cardhasil {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1067px;
    margin-left: 115px;
    margin-top: 40px;
}

.boxabu {
    border-style: solid;
    border-width: 1px;
    background-color: #D0D0D0;
    margin-top: 9px;
    width: 211px;
    height: 36px;
}

.centang {
    margin-top: 30px;
    text-align: center;
}

.berhasil {
    margin-top: 10px;
}

.txthasil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.kartuinvoice {
    width: 605px;
    height: 290px;
    margin-left: 350px;
}

.pdfviewer {
    background-color: #D0D0D0;
    width: 557px;
    height: 162px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.txtvoice {
    margin-left: -200px;
    margin-top: 24px;
}

.txtvoicex {
    margin-left: -180px;
}

.txtviewer {
    text-align: center;
    margin-top: 60px;
}

.btndownload {
    margin-right: -175px;
    margin-top: 24px;
}

.btn-addcar {
    margin-left: 1100px;
    margin-top: 20px;
}

.chart-bawah {
    max-width: 250px;
    max-height: 250px;
    margin-left: 600px;
    margin-top: 100px;
}