.Bank {
border-style: solid;
border-width: 1px;
border-radius: 4px;
width: 61px;
height: 30px;
margin-bottom: 20px;
}

.namabank {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
}

.marginbank {
    margin-left: 2px;
}

.namatransfer {
    margin-top: -48px;
    margin-left: 70px;
}